anyio
asgiref
attrs
certifi
charset-normalizer
click
fastapi
h11
idna
iniconfig
Jinja2
MarkupSafe
numpy
packaging
Pillow
pluggy
pydantic
pyparsing
python-multipart
requests
six
sniffio
starlette
toml
-f https://download.pytorch.org/whl/torch_stable.html
torch
torchvision
typing-extensions
urllib3
uvicorn
